<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="URDF 11">
  <link
    name="Socket">
    <inertial>
      <origin
        xyz="0.0317248511710613 -0.0997874415883596 0.0244932132485704"
        rpy="0 0 0" />
      <mass
        value="1.02811292471631" />
      <inertia
        ixx="0.00201241536091526"
        ixy="-1.28312737313567E-06"
        ixz="5.45708339257178E-06"
        iyy="0.00193737526865312"
        iyz="-5.45708339257148E-06"
        izz="0.00292692664391678" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Socket.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Socket.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Heavy_Servo_1">
    <inertial>
      <origin
        xyz="1.38777878078145E-16 0.01945 -6.93889390390723E-18"
        rpy="0 0 0" />
      <mass
        value="0.031353789" />
      <inertia
        ixx="5.009342612215E-06"
        ixy="1.28718711843543E-21"
        ixz="1.11533653642836E-21"
        iyy="5.257037545315E-06"
        iyz="-1.07069707020675E-22"
        izz="8.155172775215E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Heavy_Servo_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Heavy_Servo_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Heavy_Servo_1"
    type="fixed">
    <origin
      xyz="0.0306076934908225 -0.0661702839081202 0.0197419915449769"
      rpy="-3.14159265358979 0 -3.14159265358979" />
    <parent
      link="Socket" />
    <child
      link="Heavy_Servo_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Spindle_1">
    <inertial>
      <origin
        xyz="9.12185836039244E-05 0.00523429586403466 0.000581720315895005"
        rpy="0 0 0" />
      <mass
        value="0.00044528274506186" />
      <inertia
        ixx="4.68482693658364E-09"
        ixy="2.68575879621015E-10"
        ixz="5.11796778929936E-13"
        iyy="3.54302612920858E-09"
        iyz="-1.153968837472E-10"
        izz="4.68410989874315E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Spindle_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Spindle_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Spindle_1"
    type="fixed">
    <origin
      xyz="0.0100500000000049 0.0388999999999881 0"
      rpy="3.14159265358979 -0.82746574838304 3.14159265358979" />
    <parent
      link="Heavy_Servo_1" />
    <child
      link="Spindle_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Heavy_Servo_2">
    <inertial>
      <origin
        xyz="-6.93889390390723E-17 0.01945 -3.46944695195361E-18"
        rpy="0 0 0" />
      <mass
        value="0.031353789" />
      <inertia
        ixx="5.009342612215E-06"
        ixy="-1.86696360981957E-21"
        ixz="-1.03974913917236E-20"
        iyy="5.257037545315E-06"
        iyz="-1.0014543943879E-22"
        izz="8.155172775215E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Heavy_Servo_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Heavy_Servo_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Heavy_Servo_2"
    type="fixed">
    <origin
      xyz="-0.00189230650917825 -0.0986702839081204 0.0197419915449765"
      rpy="3.14159265358979 0 -1.5707963267949" />
    <parent
      link="Socket" />
    <child
      link="Heavy_Servo_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Spindle_2">
    <inertial>
      <origin
        xyz="-0.000658731938813495 0.00374301051341973 0.000745984873895086"
        rpy="0 0 0" />
      <mass
        value="0.000445282745496821" />
      <inertia
        ixx="4.68509310563634E-09"
        ixy="-1.87749528747476E-10"
        ixz="1.54422822971065E-14"
        iyy="3.54302613233775E-09"
        iyz="2.2405256441149E-10"
        izz="4.6838437398967E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Spindle_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Spindle_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Spindle_2"
    type="fixed">
    <origin
      xyz="0.0105401243757389 0.0403912853501535 -0.000683399238837028"
      rpy="0 -0.572056719680448 0" />
    <parent
      link="Heavy_Servo_2" />
    <child
      link="Spindle_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Socket_cover_1">
    <inertial>
      <origin
        xyz="1.35198144693427E-09 0.00629131284515337 0.0431366829554648"
        rpy="0 0 0" />
      <mass
        value="0.0545807108941307" />
      <inertia
        ixx="8.94912844054012E-06"
        ixy="-1.35352826230585E-12"
        ixz="1.73061959339543E-11"
        iyy="9.1607681272231E-05"
        iyz="2.58900694095732E-08"
        izz="8.40834588447855E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Socket_cover_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Socket_cover_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Socket_cover_1"
    type="fixed">
    <origin
      xyz="0.0306076934908222 -0.0986702839081204 0.0809919915449768"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="Socket" />
    <child
      link="Socket_cover_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Socket_cover_2">
    <inertial>
      <origin
        xyz="1.35198092651723E-09 0.00379131284515337 0.0431366829554648"
        rpy="0 0 0" />
      <mass
        value="0.0545807108941306" />
      <inertia
        ixx="8.94912844054011E-06"
        ixy="-1.353528262886E-12"
        ixz="1.73061950490444E-11"
        iyy="9.16076812722309E-05"
        iyz="2.58900694095716E-08"
        izz="8.40834588447855E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Socket_cover_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Socket_cover_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Socket_cover_2"
    type="fixed">
    <origin
      xyz="0.0306076934908222 -0.0986702839081204 0.0709919915449768"
      rpy="1.5707963267949 0 0" />
    <parent
      link="Socket" />
    <child
      link="Socket_cover_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Arm_1">
    <inertial>
      <origin
        xyz="-0.0018176 0.23953 -0.0030847"
        rpy="0 0 0" />
      <mass
        value="1.5484" />
      <inertia
        ixx="0.012758"
        ixy="0.00042041"
        ixz="-0.00015341"
        iyy="0.0018792"
        iyz="0.00094928"
        izz="0.01246" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Arm_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Arm_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Arm_1"
    type="spherical">
    <origin
      xyz="0.030608 -0.09867 0.068492"
      rpy="1.5365 0.072796 2.7452" />
    <parent
      link="Socket" />
    <child
      link="Arm_1" />
    <axis
      xyz="0.92 0.080301 -0.3836" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Heavy_Servo_3">
    <inertial>
      <origin
        xyz="-0.00391713487863576 -0.00464148824133279 0.0512072609528374"
        rpy="0 0 0" />
      <mass
        value="0.031353789" />
      <inertia
        ixx="5.04597867168601E-06"
        ixy="-2.87825221639053E-07"
        ixz="-1.65670279197521E-07"
        iyy="7.5351841304805E-06"
        iyz="1.15437486135499E-06"
        izz="5.8403901305785E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Heavy_Servo_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Heavy_Servo_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Heavy_Servo_3"
    type="fixed">
    <origin
      xyz="-0.0090171967524964 0.243119413209346 0.0298812831630432"
      rpy="3.05904285142526 -0.119744287364198 1.63859661122041" />
    <parent
      link="Arm_1" />
    <child
      link="Heavy_Servo_3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Spindle_3">
    <inertial>
      <origin
        xyz="0.0403450915737169 -0.0557244312120547 0.06322600747459"
        rpy="0 0 0" />
      <mass
        value="0.000445282465099613" />
      <inertia
        ixx="4.36949907899619E-09"
        ixy="1.53893653919433E-10"
        ixz="-5.09885886211318E-10"
        iyy="4.68288898573567E-09"
        iyz="2.51787463950284E-10"
        izz="3.85957144957612E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Spindle_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Spindle_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Spindle_3"
    type="fixed">
    <origin
      xyz="0.00968616196877575 0.0403912853501542 -0.000612290291851628"
      rpy="0 -0.640872435457052 0" />
    <parent
      link="Heavy_Servo_3" />
    <child
      link="Spindle_3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Mid_Servo_1">
    <inertial>
      <origin
        xyz="0.095139049095398 -0.0257225201738325 0.0351646563946645"
        rpy="0 0 0" />
      <mass
        value="0.030266" />
      <inertia
        ixx="5.71164566611159E-06"
        ixy="9.91239527889808E-07"
        ixz="-2.1543955426615E-08"
        iyy="7.13009532715378E-06"
        iyz="-3.4696204566536E-07"
        izz="4.51989591673465E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Mid_Servo_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Mid_Servo_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Mid_Servo_1"
    type="fixed">
    <origin
      xyz="0.0151847208283046 0.563078051096289 0.0820181261069107"
      rpy="2.77288683564192 1.42546722423352 1.03284879307066" />
    <parent
      link="Arm_1" />
    <child
      link="Mid_Servo_1" />
    <axis
      xyz="0.85289530826965 -0.291779533458875 -0.43292850666841" />
  </joint>
  <link
    name="Spindle_4">
    <inertial>
      <origin
        xyz="-0.0396137973211775 -0.0746600995344597 0.102031498659717"
        rpy="0 0 0" />
      <mass
        value="0.000571045411506305" />
      <inertia
        ixx="6.68237045569536E-09"
        ixy="-2.79926124165756E-10"
        ixz="6.93828787990639E-10"
        iyy="6.48553540586761E-09"
        iyz="9.45771348452377E-10"
        izz="4.67762171756768E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Spindle_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Spindle_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Spindle_4"
    type="fixed">
    <origin
      xyz="0.00999999999996908 0.0370000000000046 0.01000000000001"
      rpy="-3.14159265358979 1.37885888309775 -3.14159265358979" />
    <parent
      link="Mid_Servo_1" />
    <child
      link="Spindle_4" />
    <axis
      xyz="0.226219912588396 0.450781919167418 -0.863487325524376" />
  </joint>
  <link
    name="Mid_Servo_2">
    <inertial>
      <origin
        xyz="0.025053900695713 -0.0682185840617093 0.017153187650276"
        rpy="0 0 0" />
      <mass
        value="0.030266" />
      <inertia
        ixx="7.47869459544655E-06"
        ixy="6.85825647224222E-07"
        ixz="-3.35702083041657E-07"
        iyy="4.76692548437577E-06"
        iyz="2.27194686460421E-07"
        izz="5.11601683017766E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Mid_Servo_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Mid_Servo_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Mid_Servo_2"
    type="fixed">
    <origin
      xyz="0.0316236310664972 0.594265170826952 0.0749811200766861"
      rpy="1.6241505681502 0.206707083020825 -1.7326265788935" />
    <parent
      link="Arm_1" />
    <child
      link="Mid_Servo_2" />
    <axis
      xyz="-0.746135938894122 -0.656563360927086 0.110456380181119" />
  </joint>
  <link
    name="Spindle_5">
    <inertial>
      <origin
        xyz="0.000227260690646269 -0.125924135867485 0.0204342767163329"
        rpy="0 0 0" />
      <mass
        value="0.000571045116485264" />
      <inertia
        ixx="5.28615147054992E-09"
        ixy="1.13159322840789E-09"
        ixz="-8.26149935472381E-10"
        iyy="6.10881554759335E-09"
        iyz="5.9501265896027E-10"
        izz="6.45055393025448E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Spindle_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Spindle_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Spindle_5"
    type="fixed">
    <origin
      xyz="0.0096948593944175 0.0380391121783664 0.0101272564040994"
      rpy="3.14159265358979 1.06537283255999 3.14159265358978" />
    <parent
      link="Mid_Servo_2" />
    <child
      link="Spindle_5" />
    <axis
      xyz="-0.680392804885241 -0.726875749702149 -0.0933515862710981" />
  </joint>
  <link
    name="Arm_2">
    <inertial>
      <origin
        xyz="0.11345 -0.033135 0.0002957"
        rpy="0 0 0" />
      <mass
        value="1.0115" />
      <inertia
        ixx="0.0010428"
        ixy="0.00092081"
        ixz="-3.2148E-05"
        iyy="0.0083767"
        iyz="2.0533E-06"
        izz="0.0091038" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Arm_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Arm_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Arm_2"
    type="continuous">
    <origin
      xyz="-0.01324 0.36547 -0.029785"
      rpy="-1.1754 -0.0053562 1.5708" />
    <parent
      link="Arm_1" />
    <child
      link="Arm_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Arm_2_cover_1">
    <inertial>
      <origin
        xyz="0.0634766548052269 0.0105164480567342 0.0211879373109779"
        rpy="0 0 0" />
      <mass
        value="0.0154666672885937" />
      <inertia
        ixx="4.04703872814464E-06"
        ixy="-1.47693377256427E-06"
        ixz="6.05504221750868E-08"
        iyy="1.92222632901843E-06"
        iyz="4.73206785696706E-07"
        izz="5.55794032376174E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Arm_2_cover_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Arm_2_cover_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Arm_2_cover_1"
    type="fixed">
    <origin
      xyz="0.27999499541615 -0.0691363967132402 0.0357514249538357"
      rpy="-1.45774100637099 0.466577097394993 1.43708427345199" />
    <parent
      link="Arm_2" />
    <child
      link="Arm_2_cover_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Arm_2_cover_2">
    <inertial>
      <origin
        xyz="-0.0767034071521246 0.0468705351853861 0.01153053584318"
        rpy="0 0 0" />
      <mass
        value="0.0154666672885937" />
      <inertia
        ixx="4.04470243838387E-06"
        ixy="-1.47468747254648E-06"
        ixz="-6.99042360989377E-08"
        iyy="1.92060040488335E-06"
        iyz="-4.68915174330303E-07"
        izz="5.56190253765755E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Arm_2_cover_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Arm_2_cover_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Arm_2_cover_2"
    type="fixed">
    <origin
      xyz="0.25913963292962 -0.15647933078023 -0.0082515945348752"
      rpy="1.45774100637098 -0.466577097395109 -1.70450838013778" />
    <parent
      link="Arm_2" />
    <child
      link="Arm_2_cover_2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Hand">
    <inertial>
      <origin
        xyz="-0.06713 -0.011337 -0.0017379"
        rpy="0 0 0" />
      <mass
        value="0.29254" />
      <inertia
        ixx="0.0001747"
        ixy="-2.8547E-05"
        ixz="-2.4075E-06"
        iyy="0.00034921"
        iyz="1.8952E-05"
        izz="0.00040769" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Hand.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Hand.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Hand"
    type="spherical">
    <origin
      xyz="0.26 -0.04 0"
      rpy="1.8934 0.22925 -3.0039" />
    <parent
      link="Arm_2" />
    <child
      link="Hand" />
    <axis
      xyz="-0.22724 0.9236 -0.30874" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Mid_Servo_3">
    <inertial>
      <origin
        xyz="0.0103822208385598 -0.0117492917191429 -0.0699027486449535"
        rpy="0 0 0" />
      <mass
        value="0.030266" />
      <inertia
        ixx="7.63151498969531E-06"
        ixy="2.98000502935901E-07"
        ixz="-1.85961804523573E-07"
        iyy="4.51967063169403E-06"
        iyz="1.31151485531045E-07"
        izz="5.21045128861066E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Mid_Servo_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Mid_Servo_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Mid_Servo_3"
    type="fixed">
    <origin
      xyz="-0.0524396803804531 -0.0251089005024486 -0.0557536837275766"
      rpy="3.02157348848482 -0.0743373745108244 0.291857430818904" />
    <parent
      link="Hand" />
    <child
      link="Mid_Servo_3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Spindle_6">
    <inertial>
      <origin
        xyz="0.100405643133544 -0.0648571796984197 0.013838136250274"
        rpy="0 0 0" />
      <mass
        value="0.000571048050282081" />
      <inertia
        ixx="4.33527667673795E-09"
        ixy="8.18104184307375E-10"
        ixz="-1.96162810730624E-10"
        iyy="6.64766445868128E-09"
        iyz="6.37471225536906E-11"
        izz="6.86260569999429E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Spindle_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Spindle_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Spindle_6"
    type="fixed">
    <origin
      xyz="0.00966939925513366 0.0380391121783678 0.0100028511480418"
      rpy="3.14159265358979 1.43781995868804 3.14159265358979" />
    <parent
      link="Mid_Servo_3" />
    <child
      link="Spindle_6" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Fingers">
    <inertial>
      <origin
        xyz="0.0207843393255986 0.0396459053663676 0.119997075999667"
        rpy="0 0 0" />
      <mass
        value="0.0764990548939217" />
      <inertia
        ixx="7.36869531543824E-06"
        ixy="1.60901903142163E-05"
        ixz="4.238267839533E-06"
        iyy="6.14750515194693E-05"
        iyz="-1.1194721842552E-06"
        izz="6.580400317287E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Fingers.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF 11/meshes/Fingers.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Fingers"
    type="fixed">
    <origin
      xyz="-0.151549398517488 -0.0826972615607228 -0.11785206654342"
      rpy="-0.129660631546469 -0.055764205445353 0.439900229513809" />
    <parent
      link="Hand" />
    <child
      link="Fingers" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>